
/*------- Intro -------- */

  .intro {
    position: relative;
    background: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
    padding: 5rem 2rem 8rem;
  }
  .intro h4 {
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.4;
  }
  .intro article {
    text-align: center;
    width: auto;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 0;
  }
  @media only screen and (max-width: 960px) {
    .intro article {
      padding-top: 20px;
    }
  }
  .intro-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

    .intro-waves svg {
        position: relative;
        display: block;
        width: calc(122% + 1.3px);
        height: 198px;
    }

    .intro-waves .shape-fill {
        fill: #ffffff;
    }
  /*---------------------------------*/
  
  /*------ Productive Steps ----------*/
  .productive-section {
    background: #ffffff;
    padding-bottom: 50px;
    position: relative;
  }
  .productive-section header{
      color: #fa553e;
      display: flex;
      justify-content: center;
      padding: 0 2rem;
  }
  .productive-section header h4{
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
  }
  .productive-section .steps {
    display: flex;
    margin-top: 40px;
    padding: 0 3rem;
    justify-content: center;
  }
  @media only screen and (min-width: 1100px) {
    .productive-section .steps {
        padding: 0 10rem;
    }
  }
  @media only screen and (max-width: 960px) {
    .productive-section .steps {
      display: block;
      margin-top: 25px;
    }
  }
  .productive-section .steps .step {
    flex: 1;
    text-align: center;
    padding: 0 5px;
  }
  @media only screen and (max-width: 960px) {
    .productive-section .steps .step {
      margin-bottom: 40px;
      opacity: 1;
    }
  }
  .productive-section .steps .step h3 {
    color: #313131;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 960px) {
    .productive-section .steps .step h3 {
      margin-top: 20px;
    }
  }
  .productive-section .steps .step p {
    margin-top: 15px;
    line-height: 1.4;
    color: #626f84;
    padding: 0 15%;
  }
  .productive-section .steps .step .img {
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 70px;
  }
  /*--------------------*/

  /*--------------- Home-Apt Section ----------*/
  
    .home-apt{
        position:relative;
        background: linear-gradient(45deg, #30cfd0 0%, #ffffff 100%);
        padding:1px 3px 5px;
    }
    .apt-wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .apt-content{
    padding: 5rem 3rem 0;
    }
    .apt-text{
        font-style: oblique;
        font-size: large;
    }
    .apt-text h3{
        color: #330867;
        font-weight: bold;
        font-style: oblique;
    }
    .apt-img{
        display: none;
    }

    @media screen and (min-width:900px){
        .apt-content{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 30px;
            padding: 10rem 3rem 3rem;
        }
        .apt-img{
            display: block;
        }
    }

  /*----- Onboarding Section ----------*/
    .home-onboarding{
        background:linear-gradient(#fdfaf2,#ffe3ac);
        position: relative;
    }

    .section-title{
        text-align:center;
        padding-top: 2rem;
    }

    .section-title h2{
        color: #fa553e;
        font-weight: 1000;
        font-style: oblique;
        font-size: 2rem;
    }

    @media screen and (min-width:600px){
        .section-title h2{
            font-size: 3rem;
        }
    }
    .section-content{
    padding: 3rem 3rem 5rem;
    }
    .section-text{
        font-size: larger;
        text-align: justify;
        color: #fa553e;
    }
    @media screen and (min-width:600px){
        .section-text{
            margin-bottom:30px;
        }
    }
    .onboarding-img, .apt-img{
        border-radius:15px;
        max-width: 500px;
        width:100%;
        height: 70vw;
        max-height: 300px;
        box-shadow:0 33px 66px -44px rgba(179,81,0,.5),0 77px 110px -66px rgba(179,81,0,.25);
    }
    .apt-img{
        box-shadow: none;
    }
    .image-content{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width:900px){
        .section-content{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 30px;
        }
        .onboarding-img, .apt-img{
            height: calc(100% - 3vw) !important;
        }
        .image-content{
            margin-bottom: 0px !important;
        }
    }

    .testimonial-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .testimonial-wave svg {
        position: relative;
        display: block;
        width: calc(122% + 1.3px);
        height: 68px;
    }
    
    .testimonial-wave .shape-fill {
        fill: #37AEC0;
    }
    

  /*--- Testimonials ------*/

  .testimonials {
    background: #37AEC0;
    padding: 3rem 0;
    color: white;
  }
  .testimonials header {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  @media only screen and (max-width: 960px) {
    .testimonials header h2 {
      font-size: 15px;
      font-weight: bold;
    }
  }
  .testimonials .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  @media only screen and (max-width:1000px) {
    .testimonials .list {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 2rem;
    }
  }
  @media only screen and (max-width:500px) {
    .testimonials .list {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
    }
  }
  .testimonials .list .testimonial {
    padding: 2rem 1rem;
    background: white;
    color: #313131;
    border-radius: 20px;
    text-align: center;
  }
  .testimonials .list .testimonial img {
    border-radius: 50%;
    width: 115px;
    height: 115px;
  }
  .testimonial .full-name{
    font-weight: bold;
    font-size: larger;
    margin: .5rem 0;
  }
  .testimonial .position{
    font-size: large;
    color: #fa553e;
  }
  .testimonial p{
    margin-bottom: 0;
    font-size: medium;
    font-style: oblique;
  }
  /* ----------------------------------------*/