/*-- My css -- */

@import url(./assets/vendors/fontawesome5/all.min.css);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}
.waves-effect input[type='button'],
.waves-effect input[type='reset'],
.waves-effect input[type='submit'] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}
.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-notransition {
  transition: none !important;
}
.waves-circle {
  transform: translateZ(0);
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-block {
  display: block;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input {
  border-radius: 0;
  background: transparent;
  color: black;
  border: 0;
}
input:focus {
  outline: #ffb500 solid 3px;
}
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#form-wrap {
  background: #330867;
  background-image: url(./assets/images/login_circle.svg),
    url(./assets/images/login_shapes.svg),
    linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  min-height: 100vh;
  padding: 20px;
}

#form .btn-divider {
  color: #626f84;
  text-transform: uppercase;
  margin-bottom: 23px;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 700;
}
#form .input-field {
  text-align: left;
  padding-bottom: 28px;
}
html[dir='rtl'] #form .input-field {
  text-align: right;
}
#form .input-field label,
#form .input-field input,
#form .input-field select,
#form .input-field textarea {
  width: 100%;
  max-width: 100%;
  display: block;
}
#form .input-field label {
  text-transform: uppercase;
  color: #626f84;
  font-weight: 700;
  font-size: 14px;
}
#form .input-field label a.link {
  color: inherit;
  text-decoration: underline;
}

#form .input-field textarea {
  border: none transparent;
  overflow: auto;
  border-bottom: 1px solid #626f84;
  color: black;
}
#form .input-field textarea:focus {
  outline: none;
}
#form .input-field textarea,
#form .input-field select {
  margin: 10px 0;
}
#form .input-field input[type='checkbox'] {
  width: auto;
}
#form .input-field.with-checkbox {
  display: flex;
  padding-bottom: 15px;
}
#form .input-field.with-checkbox input {
  flex: 0 0 25px;
}
#form .input-field.with-checkbox label {
  flex: 1;
}
#form .input-field.with-radio {
  display: flex;
  padding-bottom: 15px;
}
#form .input-field.with-radio input {
  flex: 0 0 25px;
}
#form .input-field.with-radio label {
  flex: 1;
}
#form .checkbox-input-field label {
  margin: 0 -10px;
  display: flex;
  align-items: center;
}
#form .checkbox-input-field input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#form .checkbox-input-field .check {
  width: 15px;
  height: 15px;
  flex: 0 0 15px;
  background: #626f84;
  margin: 10px;
  position: relative;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-align: center;
}
#form .checkbox-input-field .check:after {
  flex: 1;
  display: none;
  font-size: 10px;
  content: '\f00c';
  color: white;
}
#form .checkbox-input-field input[type='checkbox']:checked + .check:after {
  display: block;
}
#form .checkbox-input-field input[type='checkbox']:focus + .check {
  outline: #ffb500 solid 3px;
}
#form .checkbox-input-field .label {
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
}

.rs {
  background-image: url(./assets/images/1x.png);
}
@media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3 / 2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
  .rs {
    background-image: url(./assets/images/1x.png);
    background-size: 4155px 2332px;
  }
}
.sprite-airbaltic {
  width: 134px;
  height: 31px;
  background-position: 0 0;
}
.sprite-bdo {
  width: 108px;
  height: 42px;
  background-position: -2702px -1773px;
}
.sprite-deloitte {
  width: 148px;
  height: 28px;
  background-position: -2810px -1815px;
}
.sprite-dnb {
  width: 93px;
  height: 48px;
  background-position: -2958px -1843px;
}
.sprite-entercom {
  width: 176px;
  height: 30px;
  background-position: -3051px -1891px;
}

.sprite-kiosked {
  width: 111px;
  height: 59px;
  background-position: -3316px -2024px;
}
.sprite-miele {
  width: 131px;
  height: 33px;
  background-position: -3427px -2083px;
}
.sprite-paperless-post {
  width: 145px;
  height: 75px;
  background-position: -3558px -2116px;
}
.sprite-roche {
  width: 117px;
  height: 61px;
  background-position: -3703px -2191px;
}
.sprite-smartlynx {
  width: 197px;
  height: 49px;
  background-position: -3820px -2252px;
}
.sprite-twino {
  width: 138px;
  height: 31px;
  background-position: -4017px -2301px;
}
.stars {
  background: url(./assets/images/sprites/stars-sprite.png) no-repeat top left;
  transform: scale(0.9);
  height: 66px;
}
.stars.stars-32 {
  background-position: 0 0;
  width: 125px;
}
.stars.stars-33 {
  background-position: 0 -335px;
  width: 206px;
}
.stars.stars-34 {
  background-position: 0 -268px;
  width: 151px;
}
.stars.stars-35 {
  background-position: 0 -201px;
  width: 142px;
}
.stars.stars-36 {
  background-position: 0 -134px;
  width: 141px;
}
.stars.stars-37 {
  background-position: 0 -67px;
  width: 223px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .stars {
    background: url(./assets/images/sprites/stars-sprite-retina.png) no-repeat
      top left/223px 402px;
  }
}

.intro {
  background: #330867;
  background-image: url(./assets/images/sage_com_uk_hero.svg);
  background-size: cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  position: relative;
}

.intro article {
  color: white;
  padding-top: 30px;
  width: 40%;
}
@media only screen and (max-width: 960px) {
  .intro article {
    padding-top: 10px;
    width: 100%;
  }
  .intro article h1 {
    font-size: 20px;
  }
}
.intro article h1 {
  font-weight: 700;
  line-height: 1.3;
}
.intro article .description {
  padding-top: 20px;
  font-size: 17px;
  line-height: 1.8;
}
.intro article .description a {
  color: white;
  cursor: pointer;
}
.intro article .description a:focus {
  outline: #ffb500 solid 3px;
}
.home-intro .main-image-wrap {
  position: relative;
}
.home-intro .main-image-wrap .main-image {
  padding-top: 0;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 960px) {
  .home-intro .main-image-wrap {
    margin-top: 25px;
    padding-bottom: 75px;
  }
}
.home-intro h1 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.4;
}
.home-intro article {
  text-align: center;
  width: auto;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 0;
  margin-bottom: -70px;
}
@media only screen and (max-width: 960px) {
  .home-intro article {
    padding-top: 20px;
  }
}

.content-width {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (max-width: 960px) {
  .content-width {
    padding: 0 40px;
  }
}
.content-width.narrow {
  max-width: 800px;
}
.relative {
  position: relative;
}
.arrow-btn {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: -107px;
  z-index: 20;
  background: #fff url(./assets/images/down_arrow.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-box-shadow: 0 4px 4px 0 #f2f2f7;
  box-shadow: 0 4px 4px 0 #f2f2f7;
  cursor: pointer;
  transition: all 0.15s ease;
}
.arrow-btn:hover {
  -moz-box-shadow: 0 4px 4px 0 #e5e5ea;
  box-shadow: 0 4px 4px 0 #e5e5ea;
  transform: translateY(-1px);
}
.skew-top {
  position: relative;
}
.skew-top:after {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  left: auto;
  top: -149px;
  width: 100%;
  border-style: solid;
  border-width: 0 0 150px 100vw;
  border-color: transparent transparent white transparent;
}
html[dir='rtl'] .skew-top:after {
  right: auto;
  left: 0;
}
.skew-top.smoke-top:after {
  border-color: transparent transparent #f0f4f7 transparent;
}
.skew-top-reverse {
  position: relative;
}
.skew-top-reverse:after {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  left: auto;
  top: -149px;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 150px 0;
  border-color: transparent transparent white transparent;
}
html[dir='rtl'] .skew-top-reverse:after {
  right: auto;
  left: 0;
}
.skew-top-reverse.smoke-top:after {
  border-color: transparent transparent #f0f4f7 transparent;
}
.skew-top-inside {
  position: relative;
}
.skew-top-inside:after {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  border-style: solid;
  border-width: 0 0 150px 100vw;
  border-color: transparent transparent transparent white;
}
html[dir='rtl'] .skew-top-inside:after {
  right: auto;
  left: 0;
}
.skew-top-inside.smoke-top:after {
  border-color: transparent transparent transparent #f0f4f7;
}
.skew-top-reverse-inside {
  position: relative;
}
.skew-top-reverse-inside:after {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 150px 0;
  border-color: transparent white transparent transparent;
}
html[dir='rtl'] .skew-top-reverse-inside:after {
  right: auto;
  left: 0;
}
.skew-top-reverse-inside.smoke-top:after {
  border-color: transparent #f0f4f7 transparent transparent;
}
.skew-bottom-inside {
  position: relative;
}
.skew-bottom-inside:before {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 150px 0;
  border-color: transparent transparent white transparent;
}
html[dir='rtl'] .skew-bottom-inside:before {
  right: auto;
  left: 0;
}
.skew-bottom-inside.smoke-bottom:before {
  border-color: transparent transparent #f0f4f7 transparent;
}
.skew-bottom {
  position: relative;
}
.skew-bottom:before {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  bottom: -150px;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 150px 0;
  border-color: transparent transparent white transparent;
}
html[dir='rtl'] .skew-bottom:before {
  right: auto;
  left: 0;
}
.skew-bottom.smoke-bottom:before {
  border-color: transparent transparent #f0f4f7 transparent;
}
.skew-bottom-reverse-inside {
  position: relative;
}
.skew-bottom-reverse-inside:before {
  position: absolute;
  content: ' ';
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  border-style: solid;
  border-width: 0 0 150px 100vw;
  border-color: transparent transparent white transparent;
}
html[dir='rtl'] .skew-bottom-reverse-inside:before {
  right: auto;
  left: 0;
}
.skew-bottom-reverse-inside.smoke-bottom:before {
  border-color: transparent transparent #f0f4f7 transparent;
}
.productive-content-block {
  background: #f0f4f7;
  padding-bottom: 50px;
  position: relative;
}
.productive-content-block.no-padding-bottom {
  padding-bottom: 0;
}
.productive-content-block .triangle-hack {
  position: absolute;
  height: 150px;
  top: -150px;
  left: 0;
  width: 100%;
}
.productive-content-block .triangle-hack > div {
  height: 150px;
  width: 50%;
}
.productive-content-block .triangle-hack > div:first-child {
  position: absolute;
  left: 0;
  bottom: 0;
  border-style: solid;
  border-width: 150px 0 0 50vw;
  border-color: transparent transparent transparent #f0f4f7;
}
.productive-content-block .triangle-hack > div:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 150px 50vw;
  border-color: transparent transparent #f0f4f7 transparent;
}
.productive-content-block header {
  padding-top: 6%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #313131;
  font-weight: 700;
}

@media only screen and (max-width: 960px) {
  .productive-content-block header h2 {
    font-size: 25px;
  }
}
.productive-content-block .steps {
  display: flex;
  margin-top: 40px;
  padding-bottom: 80px;
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .productive-content-block .steps {
    display: block;
    margin-top: 25px;
  }
}
.productive-content-block .steps .step {
  flex: 1;
  text-align: center;
  padding: 0 5px;
}
@media only screen and (max-width: 960px) {
  .productive-content-block .steps .step {
    margin-bottom: 40px;
    opacity: 1;
  }
}
.productive-content-block .steps .step h3 {
  color: #313131;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
@media only screen and (max-width: 960px) {
  .productive-content-block .steps .step h3 {
    margin-top: 20px;
  }
}
.productive-content-block .steps .step p {
  margin-top: 15px;
  line-height: 1.4;
  color: #626f84;
  padding: 0 15%;
}
.productive-content-block .steps .step .img {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0 70px;
}

.love-block {
  background: #330867;
  background-image: url(./assets/images/login_circle.svg),
    url(./assets/images/login_shapes.svg),
    linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  padding: 130px 0 400px;
  color: white;
}
.love-block.referral {
  background: none;
  background-image: none;
}
.love-block.referral article h4 {
  font-size: 18px;
  color: #313131;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.love-block.referral .features .item .background {
  background: #fff;
}
.love-block.referral .features .item .text-wrap h5 {
  color: #7c889a;
}
.love-block.referral .features .item .text-wrap p {
  color: #7c889a;
}
.love-block .features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
  padding-bottom: 10%;
  margin-top: 50px;
}
.love-block .features .item {
  width: 328px;
  height: 120px;
  margin: 0 4px 8px;
  display: block;
  color: transparent;
  cursor: pointer;
  position: relative;
}
.love-block .features .item .background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.2s, transform 0.2s;
  z-index: 1;
  border-radius: 3px;
}
.love-block .features .item .icon-wrap,
.love-block .features .item .text-wrap {
  padding-bottom: 30px;
}
.love-block .features .item .icon-wrap {
  width: 60px;
  padding-right: 18px;
}
html[dir='rtl'] .love-block .features .item .icon-wrap {
  padding-right: 0;
  padding-left: 18px;
}
.love-block .features .item .icon-wrap .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: orange;
}
.love-block .features .item .text-wrap {
  position: absolute;
  top: 22px;
  left: 80px;
  width: calc(100% - 95px);
  flex: 1;
  transition: transform 0.2s;
}
html[dir='rtl'] .love-block .features .item .text-wrap {
  left: 0;
}
.love-block .features .item .text-wrap h3 {
  color: white;
  font-weight: 700;
  font-size: 17px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.love-block .features .item .text-wrap p {
  font-size: 14px;
  color: white;
  line-height: 1.5;
}
.love-block .features .item .text-wrap .link {
  padding-top: 20px;
  opacity: 0;
  transition: transform 0.2s;
  color: #313131;
  font-weight: bold;
}
.love-block .features .item .text-wrap .link i {
  color: #7c889a;
}
html[dir='rtl'] .love-block .features .item .text-wrap .link i {
  transform: scale(-1, 1) !important;
}
.love-block .features .item .f {
  z-index: 2;
  padding: 23px 17px 15px;
  position: relative;
  width: 100%;
}
.love-block .features .item:hover .background {
  background-color: #fff;
  transform: scale(1.1);
  z-index: 100;
}
.love-block .features .item:hover .f {
  z-index: 200;
}
.love-block .features .item:hover .icon-wrap .icon {
  box-shadow: 0 2px 5px 0 rgba(188, 204, 219, 0.26),
    0 2px 10px 0 rgba(79, 105, 129, 0.16);
}
.love-block .features .item:hover .text-wrap {
  transform: translate(0, -28px);
}
.love-block .features .item:hover .text-wrap h5 {
  opacity: 0;
}
.love-block .features .item:hover .text-wrap p {
  color: #8a98a9;
}
.love-block .features .item:hover .text-wrap .link {
  opacity: 1;
}
.love-block .features .item:focus {
  outline: #ffb500 solid 3px;
}
.love-block + .smoke-bg {
  padding-top: 120px;
}
.love-block.claim-reward {
  padding: 70px 0 0;
}
.love-block .start-trial-block.no-bg {
  padding-top: 150px;
}
.love-block .relative {
  position: relative;
}
.love-block .relative .list {
  position: absolute;
  top: 0;
  left: 0;
}
.love-block header {
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.love-block .testimonials .subject {
  text-align: center;
  padding-top: 10px;
}
.love-block .testimonials header h2 {
  margin-top: 0%;
  margin-bottom: 0%;
}

@media only screen and (max-width: 960px) {
  .love-block .testimonials header h2 {
    font-size: 15px;
    font-weight: bold;
  }
}

.love-block .testimonials .list {
  display: flex;
  margin-top: 5%;
}
@media only screen and (max-width: 960px) {
  .love-block .testimonials .list {
    margin-top: 5%;
    display: block;
  }
}
@media only screen and (max-width: 1080px) {
  .love-block .testimonials .list {
    width: 100%;
  }
}
.love-block .testimonials .list .testimonial-block {
  position: relative;
  width: 30%;
  margin: 0 20px;
  padding: 30px 30px 40px;
  justify-content: space-around;
  background: white;
  color: #313131;
  border-radius: 3px;
  text-align: center;
}
.love-block .testimonials .list .testimonial-block:first-child {
  margin-left: 0;
}
.love-block .testimonials .list .testimonial-block:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1080px) {
  .love-block .testimonials .list .testimonial-block {
    display: none;
    margin: 0 auto !important;
  }
  .love-block .testimonials .list .testimonial-block:first-child {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .love-block .testimonials .list .testimonial-block {
    width: 100%;
  }
}
.love-block .testimonials .list .testimonial-block .image img {
  border-radius: 50%;
  width: 115px;
  height: 115px;
}
.love-block .testimonials .list .testimonial-block .link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
.love-block .testimonials .list .testimonial-block .link p {
  font-weight: bold;
}
.love-block .testimonials .list .testimonial-block .link i {
  width: 30px;
}
.love-block .testimonials .list .testimonial-block .link:hover p {
  color: #313131;
}
.love-block .testimonials .list .testimonial-block .link:hover i {
  color: #609e26;
}
.love-block .testimonials .list .testimonial-block .link:focus {
  outline: #ffb500 solid 3px;
}
.love-block .testimonials .list .testimonial-block .full-name {
  padding-top: 25px;
  font-size: 22px;
  font-weight: bold;
}
.love-block .testimonials .list .testimonial-block .position {
  padding-top: 4px;
  font-size: 15px;
  color: #626f84;
  font-weight: bold;
}
.love-block .testimonials .list .testimonial-block .company {
  padding-top: 5px;
  color: #5c488c;
  font-weight: bold;
  font-size: 15px;
}
.love-block .testimonials .list .testimonial-block p {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  color: #626f84;
  font-size: 16px;
  line-height: 1.7;
}
.love-block .testimonials .list .testimonial-block .read-interview {
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding-right: 60px;
}
.love-block .testimonials .list .testimonial-block .read-interview:hover {
  color: black;
}
.love-block .testimonials .list .testimonial-block .read-interview:hover span {
  background-position: 0 -11px;
}
.love-block .testimonials .list .testimonial-block .read-interview a {
  display: block;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
.love-block .testimonials .list .testimonial-block .read-interview a:focus {
  outline: #ffb500 solid 3px;
}
.love-block .testimonials .list .testimonial-block .read-interview a span {
  background: url(./assets/images/faces/read-arrow.svg);
  display: inline-block;
  width: 23px;
  height: 12px;
  margin-bottom: -1px;
}
.clients-block {
  background: #f0f4f7;
  padding-top: 250px;
}
.clients-block header {
  text-align: center;
  font-size: 18px;
  color: #313131;
  text-transform: uppercase;
  font-weight: 700;
}
.clients-block .list {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 90px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.clients-block .list div {
  margin: 10px;
}
.intro + .clients-block {
  padding-top: 400px;
}
@media only screen and (max-width: 960px) {
  .intro + .clients-block {
    padding-top: 100px;
  }
}
.complete-content-block {
  position: relative;
  padding-bottom: 0;
}
.complete-content-block .bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/home/background.svg);
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position: center top 75px;
  z-index: 100;
}
.complete-content-block .bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/images/home/browser_top.svg);
  background-repeat: no-repeat;
  background-size: 1239px;
  background-position: center top 40px;
  z-index: 200;
}

.complete-content-block header {
  font-weight: 50;
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #313131;
}

@media only screen and (max-width: 960px) {
  .complete-content-block header h2 {
    font-size: 20px;
  }
}

.complete-content-block div.browser {
  position: relative;
  padding-bottom: 95px;
  height: 775px;
}
@media only screen and (max-width: 960px) {
  .complete-content-block div.browser {
    padding-bottom: 0;
  }
}
.complete-content-block div.browser img.browser {
  max-width: 135%;
  z-index: 150;
  position: absolute;
  top: 0;
  left: -187px;
}
@media only screen and (max-width: 540px) {
  .complete-content-block div.browser img.browser {
    left: -60px;
  }
}
.complete-content-block div.browser div.mobile {
  z-index: 300;
  position: absolute;
  right: -140px;
  bottom: -94px;
}
@media only screen and (max-width: 540px) {
  .complete-content-block div.browser div.mobile {
    padding-top: 40px;
    position: relative;
    right: auto;
    bottom: auto;
    text-align: center;
    padding-top: 400px;
  }
}
.complete-content-block div.browser div.mobile img.mobile {
  max-width: 430px;
}
@media only screen and (max-width: 540px) {
  .complete-content-block div.browser div.mobile img.mobile {
    position: relative;
    left: -15px;
    max-width: 120%;
  }
}
.complete-content-block div.browser div.mobile .cube {
  position: absolute;
  right: 63px;
  top: 145px;
  width: 100px;
  height: 100px;
  background-image: url(./assets/images/home/mobile_top.svg);
  background-repeat: no-repeat;
  background-size: 100px;
}
@media only screen and (max-width: 540px) {
  .complete-content-block div.browser div.mobile .cube {
    right: 0;
    margin-top: 400px;
  }
}
.btn {
  text-align: center;
  background: #73a23e;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  padding: 13px 0;
  border-radius: 24px;
  width: 100%;
  display: block;
  text-decoration: none;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
}
.btn:hover {
  transform: translateY(-1px);
}
.btn:focus {
  outline: #ffb500 solid 3px;
}
.btn.tertiary-button {
  background: white;
  color: #626f84;
}
.start-trial-inner {
  text-align: center;
  color: white;
}
.start-trial-inner h2 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 0 !important;
}
.start-trial-inner input {
  background: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  color: #313131;
  width: 100%;
  max-width: 169px;
  padding: 13px 18px;
  border-radius: 4px;
}
.start-trial-inner input::placeholder {
  color: #313131;
}
.start-trial-inner input:hover {
  background: rgba(255, 255, 255, 0.35);
}
@media only screen and (max-width: 960px) {
  .start-trial-inner input {
    margin-bottom: 25px;
    max-width: 350px;
  }
}
.start-trial-inner .btn {
  padding: 15px 0;
  background: #73a23e;
  font-size: 16px;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
  width: auto;
  flex: 1;
}
@media only screen and (max-width: 960px) {
  .start-trial-inner .btn {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
.start-trial-inner .btn:hover {
  background: #9ad154;
  transform: translateY(-1px);
}
.start-trial-inner .form-field {
  display: flex;
  align-items: center;
  padding-top: 70px;
  margin-left: -8px;
  margin-right: -8px;
}
.start-trial-inner .form-field > * {
  margin-left: 8px;
  margin-right: 8px;
}
@media only screen and (max-width: 960px) {
  .start-trial-inner .form-field > * {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 960px) {
  .start-trial-inner .form-field {
    padding-top: 20px;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}
.start-trial-inner ::placeholder {
  color: white;
  opacity: 1;
}
.start-trial-inner :-ms-input-placeholder {
  color: white;
}
.start-trial-inner ::-ms-input-placeholder {
  color: white;
}
.start-trial-inner .small-features {
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
}
@media only screen and (max-width: 960px) {
  .start-trial-inner .small-features {
    padding-top: 25px;
    flex-wrap: wrap;
  }
}
.start-trial-inner .small-features .feature {
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.start-trial-inner .small-features .feature .icon {
  margin-right: 10px;
  opacity: 0.4;
}
html[dir='rtl'] .start-trial-inner .small-features .feature .icon {
  margin-left: 10px;
  margin-right: 0;
}
.start-trial-block {
  background: #330867;
  background-image: url(./assets/images/login_circle.svg),
    url(./assets/images/login_shapes.svg),
    linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  padding: 245px 0 200px;
}
.start-trial-block.no-bg {
  background: none;
  padding: 0;
}
.start-trial-block .trial-block-width {
  max-width: 610px;
  margin: 0 auto;
  padding: 0 45px;
}
@media only screen and (max-width: 960px) {
  .start-trial-block .trial-block-width {
    padding: 0;
  }
}
.smoke-bg {
  background: #f0f4f7;
}
.partners-block {
  padding: 65px 0 100px;
}
.partners-block h3 {
  font-size: 22px;
  color: #313131;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.partners-block .marketplaces {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 75px 0 50px;
}
@media only screen and (max-width: 960px) {
  .partners-block .marketplaces {
    flex-direction: column;
  }
}
.partners-block .badges img {
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .partners-block .badges {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .partners-block {
    padding-bottom: 0;
  }
}
.love-block + .for-partners-block .partners-block {
  padding-top: 145px;
}
.claim-reward + .for-partners-block .partners-block {
  padding-top: 0px;
}
footer {
  background: #607083;
  padding: 30px 0 20px;
}
footer .space-out {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
footer .space-out .mobile {
  flex: 0 0 367px;
}
footer .space-out .links {
  flex: 0 0 335px;
}
footer .space-out:first-child {
  border-bottom: 3px solid #798a9e;
}
@media only screen and (max-width: 960px) {
  footer .space-out {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}

footer .about {
  max-width: 400px;
}
@media only screen and (max-width: 960px) {
  footer .about.for-copyright {
    text-align: center;
    max-width: 100%;
  }
  footer .about.for-copyright p {
    padding-right: 0 !important;
  }
}
footer .about .logo {
  opacity: 0.6;
  width: 170px;
  margin-right: 100%;
}
footer .about p {
  padding-top: 10px;
  color: white;
  line-height: 1.7;
  padding-right: 20%;
  font-size: 14px;
  text-align: left;
}
html[dir='rtl'] footer .about p {
  padding-right: 0;
  padding-left: 20%;
}
footer p.copyright {
  padding-top: 0;
  font-weight: normal;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 960px) {
  footer p.copyright {
    font-size: small;
  }
}

footer .social {
  padding: 10px 0 20px;
  display: flex;
}
@media only screen and (max-width: 960px) {
  footer .social {
    padding-top: 25px;
    align-items: center;
  }
}
footer .social a {
  color: white;
  margin-right: 30px;
  font-size: 22px;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
html[dir='rtl'] footer .social a {
  margin-right: 0;
  margin-left: 30px;
}
footer .social a:hover {
  opacity: 0.7;
  color: #ffb500;
}

footer .mobile a {
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  display: inline-block;
}
footer .mobile a:focus {
  color: #ffb500 solid 3px;
}
@media only screen and (max-width: 960px) {
  footer .mobile a {
    margin-bottom: 10px;
  }
}
footer .mobile a:first-child {
  margin-right: 34px;
}
html[dir='rtl'] footer .mobile a:first-child {
  margin-right: 0;
  margin-left: 34px;
}
footer .mobile a .img-btn {
  background: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
  margin-top: 15px;
}

@media only screen and (max-width: 960px) {
  footer .mobile a .img-btn {
    width: 130px;
  }
}

footer .mobile a .img-btn:hover {
  transform: translateY(-2px);
  background: #ffb500;
}
footer .mobile a .apple {
  width: 165px;
  height: 40px;
  background: url(./assets/images/appstore.svg);
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center center;
}
footer .mobile a .google {
  width: 165px;
  height: 40px;
  background: url(./assets/images/playstore.svg);
  background-size: 77%;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 960px) {
  footer .mobile {
    padding-top: 20px;
    text-align: center;
  }
  footer .mobile a {
    display: block;
    width: 165px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

footer .links {
  max-width: 100%;
  display: flex;
  text-align: left;
}
@media only screen and (max-width: 960px) {
  footer .links {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  footer .links.second-links {
    display: block;
    text-align: center;
  }
}
footer .links article {
  flex: 1;
}
footer .links article h4 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 15px;
  margin-top: 0%;
}
@media only screen and (max-width: 960px) {
  footer .links article h4 {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 960px) {
  footer .links article ul li {
    margin-top: 15px;
  }
}
footer .links article ul a {
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
}
footer .links article ul a:hover {
  color: #ffb500;
}
footer .links article ul a:focus {
  color: #ffb500;
}

.description-blocks {
  padding: 0 0 40px;
}
.description-blocks .description-block {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
}
.description-blocks .description-block:nth-child(2n) {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 960px) {
  .description-blocks .description-block {
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
.description-blocks .description-block:last-child {
  border-bottom: 0;
}
.description-blocks .description-block .textual,
.description-blocks .description-block .visual {
  flex: 1;
  flex-basis: 50%;
}
.description-blocks .description-block .textual header {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
}
.description-blocks .description-block .textual .icon {
  flex: 0 0 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.1);
  color: orange;
}
.description-blocks .description-block .textual .icon i {
  font-size: 18px;
}
.description-blocks .description-block .textual h2 {
  padding-left: 20px;
  font-size: 28px;
  font-weight: bold;
}
html[dir='rtl'] .description-blocks .description-block .textual h2 {
  padding-right: 20px;
  padding-left: 0;
}
.description-blocks .description-block .textual p {
  font-size: 16px;
  color: #626f84;
  line-height: 1.7;
  padding-bottom: 10px;
  padding-right: 80px;
}
html[dir='rtl'] .description-blocks .description-block .textual p {
  padding-right: 0;
  padding-left: 80px;
}
@media only screen and (max-width: 960px) {
  .description-blocks .description-block .textual p {
    padding-right: 0;
    padding-left: 0;
  }
}
.description-blocks .description-block .visual {
  opacity: 0;
  text-align: center;
}
.description-blocks .description-block .visual.visible {
  opacity: 1;
}
@media only screen and (max-width: 960px) {
  .description-blocks .description-block .visual.hide-on-mobile {
    display: none !important;
  }
}
.description-blocks .description-block .visual img {
  width: 412px;
  max-width: 100%;
}
.description-blocks .description-block .visual:not(.basic) img {
  border-radius: 6px;
  box-shadow: 0 0 100px 3px rgba(0, 0, 0, 0.14);
}
.description-blocks.mobile-special {
  min-height: 600px;
}
@media only screen and (max-width: 960px) {
  .description-blocks.mobile-special {
    min-height: 0;
  }
}
.description-blocks.mobile-special .description-block {
  flex-direction: row-reverse;
}
.description-blocks.mobile-special .description-block header.nested {
  padding-top: 30px;
}
@media only screen and (max-width: 960px) {
  .description-blocks.mobile-special .description-block {
    position: static;
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.description-blocks.mobile-special .description-block .visual {
  position: relative;
}
.description-blocks.mobile-special .description-block .visual img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  animation: cross 6s infinite;
}
.description-blocks.mobile-special .description-block .visual img:nth-child(1) {
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}
.description-blocks.mobile-special .description-block .visual img:nth-child(2) {
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
.description-blocks.mobile-special .description-block .visual img:nth-child(3) {
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}
@media only screen and (max-width: 960px) {
  .description-blocks.mobile-special .description-block .visual img {
    animation: none !important;
    opacity: 1 !important;
    -webkit-animation: none !important;
    position: relative;
    margin: 15px 0;
  }
}
.description-blocks.mobile-special .description-block .textual {
  position: relative;
}
.description-blocks.mobile-special .description-block .mobile-links {
  padding-top: 45px;
}
@media only screen and (max-width: 960px) {
  .description-blocks.mobile-special .description-block .mobile-links {
    position: static;
    margin: 20px 0;
    padding-top: 15px;
  }
}
.description-blocks.mobile-special .description-block .mobile-links a {
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  display: inline-block;
}
.description-blocks.mobile-special .description-block .mobile-links a:focus {
  outline: #ffb500 solid 3px;
}
@media only screen and (max-width: 960px) {
  .description-blocks.mobile-special .description-block .mobile-links a {
    display: block;
    width: 165px;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 20px;
  }
}
.description-blocks.mobile-special
  .description-block
  .mobile-links
  a:first-child {
  margin-right: 34px;
}
html[dir='rtl']
  .description-blocks.mobile-special
  .description-block
  .mobile-links
  a:first-child {
  margin-right: 0;
  margin-left: 34px;
}
.description-blocks.mobile-special .description-block .mobile-links a .img-btn {
  background: white;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
}
.description-blocks.mobile-special
  .description-block
  .mobile-links
  a
  .img-btn:hover {
  transform: translateY(-1px);
}
.description-blocks.mobile-special .description-block .mobile-links a .apple {
  width: 165px;
  height: 40px;
  background: url(./assets/images/appstore.svg);
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center center;
}
.description-blocks.mobile-special .description-block .mobile-links a .google {
  width: 165px;
  height: 40px;
  background: url(./assets/images/playstore.svg);
  background-size: 77%;
  background-repeat: no-repeat;
  background-position: center center;
}
.description-blocks.mobile-special .description-block .textual,
.description-blocks.mobile-special .description-block .visual {
  opacity: 1;
}
.full-feature-list {
  margin-bottom: 15px;
}
.full-feature-list h2 {
  margin: 40px 0 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.full-feature-list .features-list {
  display: flex;
  flex-wrap: wrap;
}
.full-feature-list .features-list .heading {
  position: relative;
  width: 33%;
  margin-top: 22px;
  padding: 0 20px 0 23px;
  color: #626f84;
}
@media only screen and (max-width: 960px) {
  .full-feature-list .features-list .heading {
    width: 100%;
  }
}
.full-feature-list .features-list .heading .fa {
  position: absolute;
  top: 1px;
  left: 0;
  color: #83bd47;
}
.full-feature-list .features-list .heading > .label {
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 15px;
}
.full-feature-list .features-list .heading .features .label {
  margin: 11px 0;
}
.how-it-works-block {
  background: #fff;
}
.how-it-works-block .referral-how-it-works {
  background: #fff;
  padding: 50px 0 50px;
}
.how-it-works-block .referral-how-it-works header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 70px;
  font-size: 18px;
  color: #313131;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.how-it-works-block .referral-how-it-works p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-it-works-block .referral-how-it-works p img {
  width: 60%;
}
#alternate-navigation {
  padding-top: 120px;
}
.features-comparison-block {
  background: #f0f4f7;
  padding-bottom: 40px;
}
.features-comparison-block header {
  padding-top: 50px;
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: #313131;
  padding-bottom: 75px;
  font-weight: bold;
}
.features-comparison-block .comparison-features-wrap {
  position: relative;
}
.features-comparison-block .comparison-feature-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
}
.features-comparison-block .comparison-feature-list .group {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  overflow: hidden;
}
.features-comparison-block .comparison-feature-list .group:nth-child(odd) {
  background: #e9eef2;
}
.features-comparison-block .comparison-feature-list .feature {
  position: relative;
  flex: 0 0 calc((100% / 3) - 36px);
  margin: 18px;
  padding: 0 20px 0 23px;
  color: #6c7c93;
}
@media only screen and (max-width: 960px) {
  .features-comparison-block .comparison-feature-list .feature {
    width: 100%;
  }
}
.features-comparison-block .comparison-feature-list .feature .fa {
  position: absolute;
  top: 1px;
  left: 0;
  color: #8fc550;
}
.features-comparison-block .comparison-feature-list .feature .label {
  font-weight: bold;
  font-size: 13px;
}
.features-comparison-block .feature-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.features-comparison-block .feature-switch .feature {
  cursor: pointer;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0;
  transition: all 0.2s ease;
}
.features-comparison-block .feature-switch .feature .title {
  text-transform: uppercase;
  padding-top: 15px;
  font-size: 12px;
  font-weight: bold;
}
.features-comparison-block .feature-switch .feature .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.features-comparison-block .feature-switch .feature:focus {
  outline: #ffb500 solid 3px;
}
.features-comparison-block .feature-switch .feature.active {
  background: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(153, 153, 153, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(153, 153, 153, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(153, 153, 153, 0.3);
  border-radius: 4px;
}
.features-comparison-block
  .feature-switch
  .feature.active:after:not(.no-outline) {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: solid 8px white;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='core']
  .icon {
  background: #ec6e5a;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='leave_management']
  .icon {
  background: #f0a202;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='performance']
  .icon {
  background: #c20114;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='scheduling']
  .icon {
  background: #6610f2;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='timesheets']
  .icon {
  background: #85c665;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='expenses']
  .icon {
  background: #5fb8c5;
}
.features-comparison-block
  .feature-switch
  .feature.active[data-feature='recruitment']
  .icon {
  background: #586994;
}
.features-comparison-block .feature-switch .feature.active .icon i {
  color: white;
}

.illustration {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
html[dir='rtl'] .illustration {
  transform: scale(-1, 1) !important;
}
@media only screen and (max-width: 960px) {
  .illustration {
    position: relative;
    height: 200px;
  }
}

.illustration.home {
  background-image: url(./assets/illustrations/home-583ebf608eba4792791447398a6a2b3ce22448ab285349a66a43f0e2442bc4be.svg);
  background-repeat: no-repeat;
  background-position: right 25%;
  background-size: 50% auto;
}
.illustration.terms-and-conditions {
  background-image: url(./assets/illustrations/privacy_policy-7bdcf629881eed3a540f48c67d07e1f607efc1865b10935ebbb1ad4f31940f75.svg);
  background-repeat: no-repeat;
  background-position: right 25%;
  background-size: 40% auto;
}
.illustration.privacy-policy {
  background-image: url(./assets/illustrations/privacy_policy-7bdcf629881eed3a540f48c67d07e1f607efc1865b10935ebbb1ad4f31940f75.svg);
  background-repeat: no-repeat;
  background-position: right 25%;
  background-size: 50% auto;
}
.illustration.contact-us {
  background-image: url(./assets/illustrations/privacy_policy-7bdcf629881eed3a540f48c67d07e1f607efc1865b10935ebbb1ad4f31940f75.svg);
  background-repeat: no-repeat;
  background-position: right 25%;
  background-size: 35% auto;
}

.fa-mobile-android,
.fa-mobile {
  color: #68a357;
}
.fa-clipboard-check,
.fa-onboarding {
  color: #6859ea;
}
.fa-users,
.fa-self-service {
  color: #ff6551;
}
.fa-plug,
.fa-integrations {
  color: #de8f6e;
}
.fa-rocket {
  color: #c20114;
}
.fa-poll-people {
  color: #586994;
}
.fa-star {
  color: #ec6e5a;
}
.fa-database {
  color: #ec6e5a;
}

.footer-header {
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 0%;
}

/*  Customize css */
#dashboard-welcome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#gray {
  color: #707e91;
}

#loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 5rem;
}

.fa-user-friends {
  color: #68a357;
}
.fa-user-plus {
  color: #607083;
}
.fa-user-minus {
  color: #dc0055;
}

/*--------------*/
i {
  margin-right: 10px;
}

#center {
  display: flex;
  justify-content: center;
}

#center#report {
  margin-top: 0px;
}

#ends {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.brandname h4 {
  margin-bottom: 40px;
  margin-top: 5px !important;
  display: flex;
  justify-content: center;
  color: #ffb500;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em blue;
}

#form {
  padding: 5rem;
  border: 0;
  width: 30%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
  border-radius: 15px;
}

.description p {
  padding-top: 20px;
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
}

.search {
  position: relative;
}
.search input {
  text-indent: 5px;
}
.search .fa-search {
  position: absolute;
  top: 15px;
  left: 90%;
  font-size: 15px;
}

#spacer {
  flex: 1;
}

.react-calendar {
  width: 100% !important;
}

@media only screen and (min-width: 500px) {
  .react-calendar {
    line-height: 1.5em !important;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  .complete-content-block.skew-top {
    display: none;
  }
  .skew-top-reverse-inside {
    margin-top: -20px;
  }
}

.no-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-content h2 b {
  font-weight: 700;
}

@media (max-width: 450px) {
  .no-content h2 b {
    font-size: 1.1rem;
  }
  .no-content p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .no-content h2 b {
    font-size: 1.2rem;
  }
}

/* Sign In Error */
.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: white;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.loader {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  position: absolute;
  z-index: 1000;
}

.loader img{
  width: 50px !important;
}
.center-line {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 650px) {
  .center-line h3 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .center-line h3 {
    font-size: 1.4rem;
  }
}

/*  Mail and Slack Meeting Cards*/

.message-card {
  width: 70vw;
  height: fit-content;
  border-radius: 2rem !important;
  position: relative !important;
  margin-top: 9vh !important;
  margin-left: 3vw !important;
}
.message-card .header {
  background-color: #00364c;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: white;
  padding-left: 2rem;
  height: 3rem;
}
.message-card .header h4 {
  line-height: 1px;
  text-align: center;
  margin: 20px 0 0 0;
}
.message-card form {
  padding: 1rem;
}

.message-card form label {
  color: #00364c !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.message-card form textarea {
  height: 8rem !important;
  padding: 0.6rem !important;
}

.btn-custom.send {
  height: 2.5rem;
  font-size: 1.5rem;
}
@media (min-width: 501px) and (max-width: 991px) {
  .message-card {
    width: 70vw;
    margin-top: 9vh !important;
    margin-left: 15vw !important;
  }
}

@media (max-width: 500px) {
  .message-card {
    width: 90vw;
    margin-top: 9vh !important;
    margin-left: 2vw !important;
  }
}

.fas.fa-trash-alt {
  font-size: 2rem;
}
