
















/*-- My css -- */

@import url(./assets/vendors/fontawesome5/all.min.css);

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: transform, opacity;
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}
.waves-effect input[type='button'],
.waves-effect input[type='reset'],
.waves-effect input[type='submit'] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}
.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-notransition {
  transition: none !important;
}
.waves-circle {
  transform: translateZ(0);
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}
.waves-block {
  display: block;
}
.waves-effect .waves-ripple {
  z-index: -1;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

img {
  vertical-align: middle;
}


.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
input:focus {
  outline: #ffb500 solid 3px;
}
body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


/*------Auth Pages------*/

#form-wrap {
  background-image: url(./assets/images/login_circle.svg),
    url(./assets/images/login_shapes.svg),
    linear-gradient(45deg, #30cfd0 0%, #330867 100%);
  background-size: 100%, cover;
  background-repeat: repeat, no-repeat;
  background-position: 0, 0;
  min-height: 100vh;
  padding: 20px;
}
/*==========================*/






.btn {
  text-align: center;
  background: #73a23e;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  padding: 13px 0;
  border-radius: 24px;
  width: 100%;
  display: block;
  text-decoration: none;
  box-shadow: 0 7px 30px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease;
}


.btn:hover {
  transform: translateY(-1px);
}
.btn:focus {
  outline: #ffb500 solid 3px;
}



/*  Customize css */
#dashboard-welcome {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#gray {
  color: #707e91;
}

#loginform {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 5rem;
}

.fa-user-friends {
  color: #68a357;
}
.fa-user-plus {
  color: #607083;
}
.fa-user-minus {
  color: #dc0055;
}

/*--------------*/
i {
  margin-right: 10px;
}

#center {
  display: flex;
  justify-content: center;
}

#center#report {
  margin-top: 0px;
}

#ends {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.brandname h4 {
  margin-bottom: 40px;
  margin-top: 5px !important;
  display: flex;
  justify-content: center;
  color: #ffb500;
  text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em blue;
}

#form {
  padding: 5rem;
  border: 0;
  width: 30%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
  border-radius: 15px;
}

.description p {
  padding-top: 20px;
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
}

.search {
  position: relative;
}
.search input {
  text-indent: 5px;
}
.search .fa-search {
  position: absolute;
  top: 15px;
  left: 90%;
  font-size: 15px;
}

#spacer {
  flex: 1;
}

.react-calendar {
  width: 100% !important;
}

@media only screen and (min-width: 500px) {
  .react-calendar {
    line-height: 1.5em !important;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  .complete-content-block.skew-top {
    display: none;
  }
  .skew-top-reverse-inside {
    margin-top: -20px;
  }
}

.no-content {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-content h2 b {
  font-weight: 700;
}

@media (max-width: 450px) {
  .no-content h2 b {
    font-size: 1.1rem;
  }
  .no-content p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .no-content h2 b {
    font-size: 1.2rem;
  }
}

/* Sign In Error */
.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: white;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.loader {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  position: absolute;
  z-index: 1000;
}

.loader img{
  width: 50px !important;
}
.center-line {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 650px) {
  .center-line h3 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .center-line h3 {
    font-size: 1.4rem;
  }
}

/*  Mail and Slack Meeting Cards*/

.message-card {
  width: 70vw;
  height: fit-content;
  border-radius: 2rem !important;
  position: relative !important;
  margin-top: 9vh !important;
  margin-left: 3vw !important;
}
.message-card .header {
  background-color: #00364c;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: white;
  padding-left: 2rem;
  height: 3rem;
}
.message-card .header h4 {
  line-height: 1px;
  text-align: center;
  margin: 20px 0 0 0;
}
.message-card form {
  padding: 1rem;
}

.message-card form label {
  color: #00364c !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.message-card form textarea {
  height: 8rem !important;
  padding: 0.6rem !important;
}

.btn-custom.send {
  height: 2.5rem;
  font-size: 1.5rem;
}
@media (min-width: 501px) and (max-width: 991px) {
  .message-card {
    width: 70vw;
    margin-top: 9vh !important;
    margin-left: 15vw !important;
  }
}

@media (max-width: 500px) {
  .message-card {
    width: 90vw;
    margin-top: 9vh !important;
    margin-left: 2vw !important;
  }
}

.fas.fa-trash-alt {
  font-size: 2rem;
}


