.main-container {
  max-width: 1200px;
  margin: 2rem auto;
}
.main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.main img {
  width: 100%;
}

.sub-main {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: rgba(241, 243, 244, 0.1);
  border-radius: 20px;
}
.sub-main .username {
  padding-top: 0.75rem;
}
.sub-main .username,
.sub-main .password {
  margin: 10px 0;
}
.sub-main .heading {
  display: flex;
  justify-content: space-between;
}
.sub-main .heading .sign-in {
  text-decoration: none;
  color: white;
  font-size: large;
}

.sub-main .heading .sign-in-line {
  width: 100%;
  background-color: #ffb500;
  height: 3px;
}

.sub-main .heading .register > a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.sub-main .email > label {
  margin-bottom: 10px;
  font-weight: 400;
  color: wheat;
  font-size: 20px;
}

input[type='text'],
input[type='password'],
input[type='submit'] {
  margin-top: 10px;
  padding: 15px 10px;
  padding-top: 15px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: 2px solid rgb(241, 243, 244);
}
input[type='submit'] {
  background-color: #ffb500;
  color: white;
  border: none;
  padding: 18px;
  font-size: 2rem;
  cursor: pointer;
}

.sub-main .forgot-password > a {
  text-decoration: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: black;
}

.sub-main .forgot-password > a:hover {
  text-decoration: underline;
  color: #ffb500;
}

@media only screen and (max-width: 767px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }
  .main .grid-one {
    display: none;
  }
  .sub-main {
    width: 100%;
  }
}
